* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 1000px rgba(0,0,0,0.5);
}